//-------------------------------------------------------------------------------------
//- Home page
//-------------------------------------------------------------------------------------

extends ../base

block setup
	- jsClass = "Home";


block content
	.wrapper
		main
			section.centering-container-outter
				.centering-container-inner
					h1 gooditude
					#smile					
					h3 be grateful. feel good.